<div class="container top-space">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="about-header">ようこそ とりあえずレモンサワー へ</h1>
			<p class="about-header2">このサイトはレモンサワー好きによるレモンサワーだけのレビューサイトです</p>
			<div class="row">
				<div class="col-xs-4  about1">
					<p class="about1-header">飲む<i class="far fa-lemon"></i></p>
					<p>気に入った商品はお気に入り登録</p>
				</div>
				<div class="col-xs-4 col-xs-offset-4  about2">
					<p class="about2-header">書く<i class="fas fa-pencil-alt"></i></p>
					<p>5段階評価でレビューを書く</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-4 about3">
					<p class="about3-header">知る<i class="fas fa-book-open"></i></p>
					<p>お気に入りの一杯が見つかるかも</p>
					<p>さらに、もぎたての情報も配信中</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<p class="about-text">さあ、このサイトを最大限に活用しましょう。</p>
		<div class="col-xs-6 col-xs-offset-3">
			<div class="about-signup-btn">
				<%= link_to "会員登録", new_user_registration_path, class: "btn btn-success btn-lg btn-block" %>
			</div>
		</div>
	</div>
</div>
