<div class="page-header">
	<h1 class="inquiry-header">送信完了</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<p class="thanks-text">
				リクエストありがとうございました。
			</p>
			<div class="inquiry-index-button">
				<%= link_to "一覧へ戻る", products_path, class: "btn btn-default" %>
			</div>
		</div>
	</div>
</div>
