/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

/* 会員登録 */
.signup-container{
	width: 100%;
	height: 650px;
	background-image: url("lemonwater2.jpg");
	background-size: cover;
	color: yellow;
}
.signup-header{
	padding: 20px 0;
}
.field{
	margin: 15px;
}
.form-text{
	color: black;
}
.button1{
	color: black;
}
.actions1{
	margin-left: 15px;
	width: 152px;
}

/*ログイン画面*/
.login-container{
	width: 100%;
	height: 650px;
	background-image: url("lemonwater.jpg");
	background-size: cover;
	color: yellow;
}
.login-header{
	padding: 20px 0;
}
.button2{
	color: black;
	width: 152px;
}
.actions2{
	margin-left: 15px;
}

/* ヘッダー */
header{
	padding-top: 70px;
}

/* フッター */
footer{
	width: 100%;
	height: 50px;
	background: #f5f5f5;
	text-align: right;
}
.footer-text{
	padding: 20px;
	//color: white;
}
/* ページャー */
.paginate{
	text-align: center;
}