/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

/*フォント*/
body {
font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* 会員登録 */
.signup-container{
	width: 100%;
	height: 720px;
	background-image: url("top.jpg");
	background-size: cover;
	color: #4e4e53;
	background-position: center;
	text-align: center;
}
.signup-header{
	padding-top: 130px;
	font-weight: bold;
}
.field{
	margin: 15px;
}
.form-text{
	color: black;
}
.button1{
	color: black;
	width: 170px;
}

/*ログイン画面*/
.login-container{
	width: 100%;
	height: 720px;
	background-image: url("top.jpg");
	background-size: cover;
	color: #4e4e53;
	background-position: center;
	text-align: center;
}
.login-header{
	padding-top: 180px;
	font-weight: bold;
}
.button2{
	color: black;
	width: 170px;
}

/* ヘッダー */
header{
	padding-top: 50px;
}
.site-logo{
	width: 120px;
	height: 50px;
}

/* フッター */
footer{
	width: 100%;
	height: 50px;
	background: #f5f5f5;
	text-align: right;
}
.footer-text{
	padding: 20px;
	//color: white;
}

/*headerのpadding-topログイン後はもとに戻す*/
 .top-space{
 	margin-top: 70px;
 }

/* ページャー */
.paginate{
	text-align: center;
}

/*flash*/
.alert-alert {
  	background-color:  #f2dede;
  	border-color: #eed3d7;
  	color: #b94a48;
  	text-align: left;
  	border-radius: 3%;
}
.alert-notice {
	background-color: #dff0d8;
  	border-color: #d6e9c6;
  	color: #468847;
  	text-align: left;
}

/*forget password*/
.forget-password-container{
	width: 100%;
	height: 720px;
	background-image: url("top.jpg");
	background-size: cover;
	background-position: center;
	text-align: center;
}
.forget-password-header{
	font-weight: bold;
	margin-top: 250px;
}