// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//商品一覧
.admin-btn{
	margin: 50px;
}
.index-ave{
	margin:10px;
}
.product-thumb{
	width: 250px;
	height: 280px;
	padding: 20px;
	margin: 20px;
	float: left;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
}

//商品詳細
.product-info{
	margin-top: 23px;
}
.p-noreview{
	text-align: center;
	margin-top: 300px;
}
.p-review-counter{
	text-align: center;
}
.p-date{
	text-align: right;
}
.p-index-button{
	margin: 50px 0 10px 0;
}
.heart-icon{
	font-size: 20px;
	vertical-align: bottom;
}