// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//商品一覧
.admin-btn{
	margin: 50px;
}
.index-ave{
	margin:10px;
}
.product-thumb{
	width: 250px;
	height: 280px;
	padding: 20px;
	margin: 20px;
	float: left;
	border-radius: 5% 5% 5% 5%;
	background-color: white;
	-webkit-box-shadow:0 5px 5px -5px #000;
    -moz-box-shadow:0 5px 5px -5px #000;
    box-shadow:0 5px 5px -5px #000;
}

//商品詳細
.product-info{
	margin-top: 23px;
	background-color: white;
	border-radius: 5% 5% 5% 5%;
}
.p-noreview{
	text-align: center;
	margin-top: 300px;
}
.p-review-counter{
	text-align: center;
}
.p-date{
	text-align: right;
}
.p-index-button{
	margin: 50px 0 10px 0;
}
.heart-icon{
	font-size: 20px;
	vertical-align: bottom;
}
.review-box{
	background-color: white;
	margin: 10px;
	-webkit-box-shadow:0 5px 5px -5px #000;
    -moz-box-shadow:0 5px 5px -5px #000;
    box-shadow:0 5px 5px -5px #000;
 }
.review-box:before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    border-width:0 30px 30px 0; /* This trick side-steps a webkit bug */
    border-style:solid;
    border-color:#DDDED3 #DDDED3 #ACA67B #ACA67B; /* A bit more verbose to work with .rounded too */
    background:#ACA67B; /* For Opera when also applying a border-radius */
    display:block; width:0; /* Only for Firefox 3.0 damage limitation */
 }
 .review-btn{
 text-align: right;
 }
 .review-post-header{
 padding-top: 30px;
 }