// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//商品一覧
.index-site-logo{
	padding-bottom: 50px;
}
.top-headline3{
	margin: 20px;
}
.reviews-counter-box{
	position: absolute;
	top: 450px;
	right: 170px;
	width: 160px;
  	height: 160px;
	border-radius: 50%;
	text-align: center;
	border: 4px solid orange;
}
.reviews-counter1{
	padding-top: 20px;
	font-size: 16px;
}
.reviews-counter2{
	font-size: 45px;
	font-style: italic;
	font-weight: 700;
	color: orange;
}
.reviews-counter3{
	font-size: 16px;
}
.admin-btn{
	margin: 50px;
}
.sort-btn{
	margin-top: 70px;
}
.index-ave{
	margin:10px;
}
.product-thumb{
	width: 250px;
	height: 280px;
	padding: 20px;
	margin: 20px;
	float: left;
	border-radius: 5% 5% 5% 5%;
	background-color: white;
    box-shadow:0 5px 5px -5px #000;
}

//商品詳細
.product-info{
	margin-top: 23px;
	background-color: white;
	border-radius: 5% 5% 5% 5%;
}
.p-noreview{
	text-align: center;
	margin-top: 300px;
}
.p-review-counter{
	text-align: center;
}
.p-date{
	text-align: right;
}
.p-index-button{
	margin: 50px 0 10px 0;
}
.heart-icon{
	font-size: 20px;
	vertical-align: bottom;
}
.review-sort-btn{
	width: 170px;
	margin-left: auto;
}
.review-box{
	background-color: white;
	margin: 10px;
    box-shadow:0 5px 5px -5px #000;
 }
 .review-btn{
 text-align: right;
 }
#new-review{
	padding-top: 50px;
}