// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.r-index-button{
	margin: 50px 0 10px 0;
	text-align: left;
}
.review-update-btn{
	text-align: right;
}