// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//マイページ
.user-info{
	margin-top: 23px;
	background-color: white;
	border-radius: 3% 3% 3% 3%;
    //border: 1px solid #333;
}
.user-favorite-counter{
	text-align: center;
}
.user-noreview{
	text-align: center;
	margin-top: 150px;
}
.review-counter{
	text-align: center;
}
.user-edit-buttom{
	text-align: right;
}
.user-date{
	text-align: right;
}
.user-buttom{
	text-align: right;
}
.user-index-buttom{
	margin-bottom: 10px;
}
.user-review-box{
	background-color: white;
	margin: 10px;
    box-shadow:0 5px 5px -5px #000;
 }


/*いいねユーザー一覧*/
 .favorite-user-box{
 	background-color: white;
 	border-radius: 5% 5% 5% 5%;
 }
.no-favorite{
	font-size: 25px;
	text-align: center;
}

/*ユーザー編集*/
.edit-user{
	background-color: transparent;
	border-radius: 3% 3% 3% 3%;
	margin-top: 50px;
}
.user-edit-btn{
	text-align: right;
	margin: 20px;
}
.user-delete-btn{
	text-align: right;
	margin-top: 480px;
}