// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//マイページ
.user-info{
	margin-top: 23px;
	background-color: white;
	border-radius: 5% 5% 5% 5%;
    //border: 1px solid #333;
}
.user-favorite-counter{
	text-align: center;
}
.user-noreview{
	text-align: center;
	margin-top: 150px;
}
.review-counter{
	text-align: center;
}
.user-edit-buttom{
	text-align: right;
}
.user-date{
	text-align: right;
}
.user-buttom{
	text-align: right;
}
.user-index-buttom{
	margin-bottom: 10px;
}
.review-box{
	background-color: white;
	margin: 10px;
	-webkit-box-shadow:0 5px 5px -5px #000;
    -moz-box-shadow:0 5px 5px -5px #000;
    box-shadow:0 5px 5px -5px #000;
 }
.review-box:before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    border-width:0 30px 30px 0; /* This trick side-steps a webkit bug */
    border-style:solid;
    border-color:#DDDED3 #DDDED3 #658E15 #658E15; /* A bit more verbose to work with .rounded too */
    background:#658E15; /* For Opera when also applying a border-radius */
    display:block; width:0; /* Only for Firefox 3.0 damage limitation */
 }